<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Wishing App</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div id="header">
        <h1 id="welcome"> Hello {{user.first_name}} {{user.last_name}}! Make a Wish!</h1>
        <a href="/destroy" id="logout"> Log out</a>
    </div>

    <form action="/wishes/create" method="POST">
        {%csrf_token%}
        <div id="form">
            <p>I Wish for: <input type="text" name="item"></p>
            <p>Description: <input type="text" name="desc"></p>
            <button type="submit" class="button">Submit</button>
        </div>
    </form>
    <a href="/wishes"> <button class="button">Cancel</button></a>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</body>

</html>